html, body {
    margin: 0;
    padding: 0;
    }

.clearfix:after {
    content: '';
    display: block;
    clear: both;
    }

.left-column {
    float: left;
    width: 70%;
    }

.right-column {
    float: left;
    width: 30%;
    }

.layout-trigger {
    position: absolute;
    top: 5px;
    right: 20px;
    width: 48px;
    height: 48px;
    background: url(/images/settings-icon.png) transparent no-repeat;
    cursor: pointer;
    }

.one-column .left-column {
    width: 100%;
    float: none;
    }

.one-column .right-column {
    display: none;
    }

.showings {
    margin: 20px;
    }

.controls {
    margin: 58px 20px 20px 0;
    min-width: 350px;
    }

.icon-button {
    display: inline-block;
    height: 17px;
    width: 17px;
    cursor: pointer;
    }

.icon-new {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(/images/new-icon-24.png) no-repeat transparent;
    }


/* jQuery UI Override */

.ui-widget {
    font-size: 80%;
    }

.ui-dialog .ui-dialog-content {
    padding: 15px 15px 12px 15px;
    }