html, body {
    margin: 0;
    padding: 0;
    }

.left-column {
    float: left;
    width: 60%;
    }

.right-column {
    float: left;
    width: 40%;
    }

.showings, .controls {
    margin: 20px;
    }

.showings {
    }

.controls {
    }