html, body {
    margin: 0;
    padding: 0;
    }

.left-column {
    float: left;
    width: 60%;
    }

.right-column {
    float: left;
    width: 40%;
    }

.showings, .controls {
    margin: 20px;
    }

.showings {
    }

.controls {
    }


/* jQuery UI Override */

.ui-widget {
    font-size: 80%;
    }

.ui-dialog .ui-dialog-content {
    padding: 15px 15px 12px 15px;
    }