.control {
    margin-bottom: 25px;
    }

.control-tabs {
    font-size: 80%;
    }

.control-title {
    font-size: 115%;
    margin-bottom: 8px;
    }

.control-cinemas .cinema-button-icon {
    font-size: 170%;
    font-style: normal;
    line-height: 1px;
    margin-left: 4px;
    position: relative;
    top: 3px;
    }

.control-time .control-time-slider {
    margin-bottom: 3px;
    }

.control-time .control-time-text {
    margin-bottom: 2px;
    text-align: center;
    }

.control-time .control-time-auto-wrap {
    text-align: center;
    }

.control-synonyms .movie-original {
    float: left;
    width: 50%;
    padding: 2px 0 3px;
    min-height: 1.8em;
    }

.control-synonyms .movie-synonyms {
    float: left;
    width: 50%;
    }

.control-synonyms .movie-synonym {
    border-bottom: 1px dotted #CCC;
    min-height: 1.8em;
    padding: 2px 24px 3px 0;
    position: relative;
    }

.control-synonyms .movie-synonym:only-child {
    border-bottom: none;
    }

.control-synonyms .remove {
    display: inline-block;
    height: 17px;
    margin-top: -13px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 17px;
    cursor: pointer;
    }





