.showing {
    line-height: 1.4em;
    }

a.movie {
    color: #2779AA;
    text-decoration: none;
    border-bottom: 1px dotted;
    }

.movie.drop-allowed {
    font-weight: bold;
    }

.session.no-session {
    color: #dddddd;
    }

.session.is3D:after {
    content: '3D';
    position: relative;
    font-size: 12px;
    top: -7px;
    left: 1px;
    }