.control {
    margin-bottom: 25px;
    }

.control-title {
    font-size: 115%;
    margin-bottom: 8px;
    }

.control-cinemas .cinema-button-icon {
    font-size: 170%;
    font-style: normal;
    line-height: 1px;
    margin-left: 4px;
    position: relative;
    top: 3px;
    }

.control-time .control-time-slider {
    margin-bottom: 3px;
    }

.control-time .control-time-text {
    margin-bottom: 2px;
    text-align: center;
    }

.control-time .control-time-auto-wrap {
    text-align: center;
    }

.control-movies-filter .clear-filter {
    position: relative;
    left: 5px;
    top: 2px;
    }

.control-synonyms .movies {
    border-bottom: 1px dotted #CCCCCC;
    display: table;
    margin-bottom: 7px;
    padding-bottom: 7px;
    width: 100%;
    padding-bottom: 7px;
    margin-bottom: 7px;
    }

.control-synonyms .movies:only-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
    }

.control-synonyms .movie-original {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    padding: 4px 10px 4px 0;
    }

.control-synonyms .movie-synonyms {
    display: table;
    width: 100%;
    }

.control-synonyms .movie-synonym {
    display: table-row;
    }

.control-synonyms .name {
    display: table-cell;
    padding: 4px 5px 4px 0;
    vertical-align: middle;
    }

.control-synonyms .remove {
    display: table-cell;
    padding: 4px 0;
    text-align: right;
    vertical-align: middle;
    }





