.control {
    margin-bottom: 25px;
    }

.control-title {
    font-size: 115%;
    margin-bottom: 8px;
    }

.control-cinemas .control-container {
    font-size: 75%;
    }

.control-time .control-time-slider {
    font-size: 75%;
    margin-bottom: 3px;
    }

.control-time .control-time-text {
    text-align: center;
    }



