.control {
    margin-bottom: 25px;
    }

.control-title {
    font-size: 115%;
    margin-bottom: 8px;
    }

.control-cinemas .control-container {
    font-size: 75%;
    }

.control-cinemas .cinema-button-icon {
    font-size: 170%;
    font-style: normal;
    line-height: 1px;
    margin-left: 4px;
    position: relative;
    top: 3px;
    }

.control-time .control-time-slider {
    font-size: 75%;
    margin-bottom: 3px;
    }

.control-time .control-time-text {
    margin-bottom: 2px;
    text-align: center;
    }

.control-time .control-time-auto-wrap {
    text-align: center;
    }



