.cinema-kronverk-oblaka {
    color: #2779aa;
    }

.cinema-luxor-vegas {
    color: indianred;
    }

.cinema-matrix-domodedovo {
    color: forestgreen;
    }

.cinema-5-zvezd {
    color: #ff8f00;
}