<template name="login_form">
    <form class="login-form">
        <div class="login-inputs clearfix">
            <div class="login-col">
                <div class="login-input-wrapper">
                    <input class="login-input" name="email" placeholder="Email" type="email" required disabled={{ loggingIn }}>
                </div>
            </div>
            <div class="login-col">
                <div class="login-input-wrapper">
                    <input class="login-input" name="password" placeholder="Пароль" type="password" required disabled={{ loggingIn }}>
                </div>
            </div>
        </div>
        {{# if formError }}
        <div class="login-form-error">{{ formError }}</div>
        {{/ if }}
        <div class="login-buttons">
            <button class="login" disabled={{ loggingIn }}>Войти</button>
            <button class="register" disabled={{ loggingIn }}>Зарегистрироваться</button>
        </div>
    </form>
</template>

<template name="enroll_account">
{{# if enrollAccountToken }}
    {{> enroll_account_dialog }}
{{/ if }}
</template>

<template name="enroll_account_dialog">
    <div class="enroll-account-dialog">
        <form action="/" method="post">
            <input class="password" type="password" placeholder="Введите пароль для вашего аккаунта"/>
        </form>
    </div>
</template>

<template name="login_email">
{{ email }}
</template>

<template name="logout_button">
    <span title="Выйти из аккаунта" class="logout-button icon-button ui-state-default ui-corner-all"><span class="ui-icon ui-icon-extlink"></span></span>
</template>