.showings-list {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    }

.showings-list td, .showings-list th {
    padding: 10px 5px;
    }

.showings-list tr:nth-child(even) td {
    background: #F5FAFD;
    }

.showings-list tr:nth-child(odd) td {
    background: #EAF3FA;
    }

.showings-list .new {
    padding: 0 2px 0 6px;
    }

.showings-list .new .icon-new {
    vertical-align: middle;
    }

.showings-list .no-filtered {
    text-align: center;
    }

.showings-list .rating {
    text-align: center;
    }

.showing {
    white-space: nowrap;
    }

.showing-list-header {
    white-space: nowrap;
    }

.showing-list-header.sortable {
    cursor: pointer;
    }

.showing-list-header .sort-icon {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    top: -1px;
    }

a.movie {
    color: #2779AA;
    text-decoration: none;
    border-bottom: 1px dotted;
    }

a.movie.drop-allowed {
    font-weight: bold;
    }

.movie-info {
    display: none;
    }

.movie-info .col-left {
    margin-right: -150px;
    width: 150px;
    float: left;
    }

.movie-info .col-right {
    margin-left: 162px;
    }

.movie-info .poster-link {
    outline: 0;
    }

.movie-info .poster {
    display: block;
    margin-bottom: 7px;
    width: 150px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.65);
    }

.rating-group-1 {
    color: #080;
    }

.rating-group-2 {
    color: #FF8C00;
    }

.rating-group-3 {
    color: #F00;
    }

.movie-info-icon {
    display: inline-block;
    margin-left: 2px;
    position: relative;
    top: 3px;
    cursor: pointer;
    }

.showing-sessions {
    width: 100%;
    }

.session.no-session {
    color: #C5C5C5;
    }

.session.is3D:after {
    content: '3D';
    position: relative;
    font-size: 12px;
    top: -7px;
    left: 1px;
    }